/* 底部css */
.footerNav {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    height: 44px;
    background: #fafafa;
    border-top: 1px solid #e6e6e6;
    z-index: 999;
}
.tab5 {
    width: 100%;
    height: 44px;
}
.tab5 li {
    width: 25%;
    float: left;
    text-align: center;
    
}
/* .tab5 .cur{
    background-color: khaki;
} */
.tab5 li a {
    width: 57px;
    height: 44px;
    display: inline-block;
}
.tab4 li a img, .tab5 li a img {
    max-width: 100%;
    max-height: 100%;
}